<h2>管理者ダッシュボード</h2>

<div class="list-group">
  <%= link_to "ユーザー管理", admin_users_path, class: "list-group-item list-group-item-action" %>
  <%= link_to "コメント管理", admin_comments_path, class: "list-group-item list-group-item-action" %>
  <%= link_to "レビュー管理", admin_reviews_path, class: "list-group-item list-group-item-action" %>
</div>
